<%= form_for :request, :url => request_path(@request), :method => :post do |f| %>
  <div class="field">
    <%= f.hidden_field :reason %>
  </div>
  <div class="field">
    <%= f.hidden_field :spend_time %>
  </div>
  <div class="field">
    <%= f.label :crid %><br>
    <%= f.text_field :crid %>
  </div>
  <div class="field">
    <%= f.label :emengency_level %><br>
    <%= f.text_field :emengency_level %>
  </div>
  <div class="field">
    <%= f.label :project_name %><br>
    <%= f.text_field :project_name %>
  </div>
  <div class="field">
    <%= f.label :owner_name %><br>
    <%= f.text_field :owner_name %>
  </div>
  <div class="field">
    <%= f.label :file %><br>
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
